@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap");

.center {
    position: relative;
    padding: 50px 50px;
    background: #fff;
    border-radius: 10px;
  }

  .center .inputbox {
    position: relative;
    width: 300px;
    height: 50px;
    margin-bottom: 50px;
  }
  .center .inputbox input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 2px solid #000;
    outline: none;
    background: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2em;
  }
  .center .inputbox:last-child {
    margin-bottom: 0;
  }
  .center .inputbox span {
    position: absolute;
    top: 14px;
    left: 20px;
    font-size: 1em;
    transition: 0.6s;
    font-family: sans-serif;
  }
  .center .inputbox input:focus ~ span,
  .center .inputbox input:valid ~ span {
    transform: translateX(-13px) translateY(-35px);
    font-size: 1em;
  }
  .center .inputbox [type="submit"] {
    width: 50%;
    background: dodgerblue;
    color: #fff;
    border: #fff;
  }
  .center .inputbox:hover [type="submit"] {
    background: linear-gradient(45deg, greenyellow, dodgerblue);
  }

.flights{
    margin-top: 10%;
    width: 40%;
    background-color: #E1E2E1;
    border: 1px black;
    border-radius: 5%;
    padding: 10px;
    padding-top: -40px;
    box-shadow: 1px 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-main{
  border: 2px solid black;
  background-color: #E32643;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  border-radius: 5%;
  transition: ease-in 0.5s;

}

.btn-main:hover{
  background-color: #c9374d;
  color: white;
  border: 2px solid #c9374d;

}

.result{
  margin: auto;
  margin-top: -5%;
  margin-bottom: -5%;
}

/* from W3schools */

/* Split the screen in half */
.split {
  width: 30%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}

/* Control the left side */
.left {
  left: 12%;
}

/* Control the right side */
.right {
  right: 12%;
  padding-top: 10%;
  margin-top: -10%;
  display: inline-block;
}